* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  font-family: "Raleway", sans-serif;
  color: #213053;
  margin: 0;
}

select {
  appearance: none;
}

input {
  outline: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.header__logo {
  height: 30px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #213053;
}

header a {
  font-size: 15px;
  font-weight: 600;
  margin-right: 25px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header a:hover {
  opacity: 0.8;
}

button {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  padding: 15px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}

button:hover {
  background-color: #f6980c;
  box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
}

.about__images {
  position: relative;
}

.about__image {
  width: 500px;
}

.about__sun-image {
  width: 100px;
  height: 100px;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  animation: rotation 10s linear infinite;
  -webkit-animation: rotation 10s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 115px 0;
  background: url("img/back.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.about h1 {
  font-size: 70px;
  line-height: 76px;
  padding: 20px 0;
}

.about p {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
  padding: 10px 0;
}

.about button {
  font-size: 18px;
  padding: 20px 30px 20px 25px;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  position: relative;
}

.about button i {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.about button:hover i {
  right: 10px;
}

.about__info {
  max-width: 550px;
}

.features {
  background-color: #fff;
  padding: 115px 60px;
}

@media (min-width: 1440px) {
  .features {
    padding: 5rem 1rem;
  }
}

@media (max-width: 720px) {
  .features {
    padding: 50px 10px;
  }
}

.cards {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  padding: 35px 40px 25px 40px;
  background: #ffffff;
  border: 1px solid #d9e4e6;
  border-radius: 5px;
}

.card h3 {
  opacity: 0.8;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 0;
}

@media (min-width: 1440px) {
  .card h3 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 1.5rem 0;
  }
}

.card p {
  opacity: 0.8;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 1440px) {
  .card p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

.card__logo {
  font-weight: 700;
  font-size: 32px;
  background: #eaeff9;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1440px) {
  .card__logo {
    font-size: 3.2rem;
    height: 10rem;
    width: 10rem;
  }
}

.card__logo.yellow {
  color: #ffb406;
}

.card__logo.red {
  color: #ad1714;
}

.card__logo.green {
  color: #22a030;
}

@media (max-width: 720px) {
  .cards {
    grid-template-columns: auto;
  }
}

.form__container {
  width: 550px;
}

@media (min-width: 1440px) {
  .form__container {
    width: 55rem;
  }
}

.features__border {
  width: 100%;
  border: 1px solid #e6eaf4;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 1440px) {
  .features__border {
    width: 100%;
    border: 1px solid #e6eaf4;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.features__feedback {
  display: flex;
}

.features__feedback-left {
  margin-right: 10px;
}

@media (min-width: 1440px) {
  .features__feedback-left {
    margin-right: 1rem;
  }
}

.features__feedback-left h2 {
  font-size: 48px;
}
@media (min-width: 1440px) {
  .features__feedback-left h2 {
    font-size: 4.8rem;
  }
}

.features__feedback-left p {
  font-size: 18px;
  opacity: 0.7;
  line-height: 26px;
  padding-top: 40px;
}
@media (min-width: 1440px) {
  .features__feedback-left p {
    font-size: 1.8rem;
    opacity: 0.7;
    line-height: 2.6rem;
    padding-top: 4rem;
  }
}

.features__feedback-right {
  display: flex;
  /* align-items: center; */
}

.features__box {
  border-radius: 25px;
  padding: 30px 40px 25px 40px;
  color: white;
}
@media (min-width: 1440px) {
  .features__box {
    border-radius: 2.5rem;
    padding: 3rem 4rem 2.5rem 4rem;
    color: white;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
  }
}

.features__box h3 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .features__box h3 {
    font-size: 4.8rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.features__box p {
  font-size: 14px;
}
@media (min-width: 1440px) {
  .features__box p {
    font-size: 1.4rem;
  }
}

.features__savings-box {
  background-color: #dc5e26;
  box-shadow: 0 6px 0 rgb(221 95 38 / 20%);
  margin-right: 30px;
}
@media (min-width: 1440px) {
  .features__savings-box {
    background-color: #dc5e26;
    box-shadow: 0 6px 0 rgb(221 95 38 / 20%);
    margin-right: 3rem;
  }
}

.features__rate-box {
  background-color: #1d263a;
  box-shadow: 0 6px 0 rgb(29 38 58 / 20%);
}

.stars {
  color: #ff7039;
  margin-bottom: 10px;
}

@media (max-width: 720px) {
  .features__feedback {
    flex-direction: column;
  }

  .features__feedback-left {
    margin-right: 0;
  }

  .features__feedback-left h2,
  .features__box h3 {
    font-size: 36px;
  }

  .features__feedback-right {
    flex-direction: column;
    align-items: initial;
  }

  .features__savings-box {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.promo {
  display: flex;
}

.promo__image {
  background-image: url(img/promo.jpg);
  width: 50%;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
}

.promo__right {
  background: #dd5f26;
  padding: 160px 60px;
}

@media (max-width: 720px) {
  .promo {
    flex-direction: column-reverse;
  }

  .promo__right {
    padding: 50px 10px;
  }

  .promo__image {
    width: 100%;
    height: 500px;
  }
}

.promo__text {
  background-color: white;
  padding: 30px 40px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.promo__text h2 {
  padding-bottom: 20px;
}

.promo__text p::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ec6b29;
  margin-right: 10px;
}

.promo__text p {
  opacity: 0.8;
}

.promo__text button {
  background-color: #107b1c;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 0 16px 36px rgb(16 122 28 / 30%);
  padding: 15px 30px;
}

.promo__button-wrap {
  display: flex;
  justify-content: center;
}

.promo__text button i {
  font-size: 15px;
  margin-left: 5px;
}

.form {
  background-color: #1d263a;
  color: #fff;
  padding: 115px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__title {
  font-size: 48px;
  padding: 20px 0;
}

.form__description {
  font-size: 18px;
  line-height: 22px;
  padding: 10px 0;
  opacity: 0.65;
}

.form__group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form form {
  display: grid;
  margin-top: 60px;
  gap: 20px;
}

.form label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.form input,
.form select {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
  cursor: pointer;
}

.form__submit {
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
}

footer {
  padding: 90px 20px;
  font-size: 16px;
  font-weight: 600;
}

.footer__container {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin-top: 40px;
  text-align: center;
  opacity: 0.5;
}

.footer__group {
  margin-right: 80px;
}

.footer__group h3 {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 30px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  margin-bottom: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.footer__links a:hover {
  opacity: 0.8;
}

@media (min-width: 1440px) {
  html {
    font-size: calc(100vw / 1440 * 10);
  }

  header {
    padding: 2rem;
  }

  .header__logo {
    height: 3rem;
  }

  header a {
    font-size: 1.5rem;
    margin-right: 2.5rem;
  }

  button {
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    box-shadow: 0 1.6rem 3.6rem rgb(52 213 68 / 22%);
  }

  button:hover {
    box-shadow: 0 1.6rem 3.6rem rgba(246 152 12 / 20%);
  }

  .about__image {
    width: 50rem;
  }

  .about__sun-image {
    width: 10rem;
    height: 10rem;
  }

  .about {
    padding: 11.5rem 0;
  }

  .about h1 {
    font-size: 7rem;
    line-height: 7.6rem;
    padding: 2rem 0;
  }

  .about p {
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 1rem 0;
  }

  .about button {
    font-size: 1.8rem;
    padding: 2rem 3rem 2rem 2.5rem;
    border-radius: 2rem;
    margin-top: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }

  .about button i {
    right: 1.5rem;
    margin-top: -0.8rem;
  }

  .about button:hover i {
    right: 1rem;
  }

  .about__info {
    max-width: 55rem;
  }

  .features {
    background-color: #fff;
    padding: 115px 60px;
  }

  @media (max-width: 720px) {
    .features {
      padding: 50px 10px;
    }
  }

  .form__container {
    width: 55rem;
  }

  .form__container {
    padding: 11.5rem 0;
  }

  .form__title {
    font-size: 4.8rem;
    padding: 2rem 0;
  }

  .form__description {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 1rem 0;
  }

  .form form {
    margin-top: 6rem;
    gap: 2rem;
  }

  .form label {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .form input,
  .form select {
    font-size: 1.8rem;
    height: 6rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
  }

  .form__submit {
    font-size: 1.8rem;
    margin-top: 4rem;
  }

  footer {
    padding: 9rem 2rem;
    font-size: 1.6rem;
  }

  .footer__copyright {
    margin-top: 4rem;
  }

  .footer__group {
    margin-right: 8rem;
  }

  .footer__group h3 {
    font-size: 1.6rem;
    opacity: 0.7;
    margin-bottom: 3rem;
  }

  .footer__links a {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .about {
    padding: 115px 20px;
  }

  .about h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .about__image {
    width: 280px;
  }

  .about__sun-image {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 720px) {
  header {
    padding: 10px;
  }

  .header__logo {
    height: 20px;
  }

  header a {
    margin-right: 10px;
  }

  .about {
    flex-direction: column-reverse;
    padding: 50px 10px;
  }

  .about h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .about__image {
    width: 280px;
  }

  .about__sun-image {
    width: 75px;
    height: 75px;
  }

  .form {
    padding: 50px 10px;
  }

  .form h1 {
    font-size: 36px;
  }

  footer {
    padding: 50px 10px;
  }

  .footer__container {
    flex-direction: column;
  }
}
